#services .row .panel .panel-body img
{
    height:400px;
    display:block;
    margin:auto;
}
#services .panel-body
{
    padding:0;
}
#services a
{
    text-decoration: none;
}
#services .panel-body
 {
     overflow: auto;
     min-height: 300px;
 }

.well
{
    background-color: white;
    background-image: none;
}
.marginTop
{
    margin-top: 10px;
}
#seperate_services p {
    margin-top: 5px;
}
@media screen and (max-width: 767px) {
    #seperate_services p {
        margin-top: 20px;
    }
    #blog img
    {
        width:100%;
        height: auto;
        float: left;
    }
}