.navbar {
    font-size: 1.3em;
}


.navbar-brand {
    font-size:1.80em;
    color: black !important;
}

#logo {
    color:lightgreen;
}

.navbar > .container-fluid {
    background-color: white;
}

textarea {
    resize: none;
}

#about .txts {
    margin-bottom: 30px;
}

#about h1 {
    margin-bottom:20px;
}

 p {
    font-size: 1.3em;
}

.footer {
    width:100%;
    background-color: #F5F5F5;
    text-align: center;
 }

.footer h4 {
    margin-top:20px;
}
.footer p {
    margin:0;
    font-size:1.1em;
}

.footer p:last-of-type {
    margin-bottom:10px;
}

.footer li {
    font-size: 2em;
    list-style-type: none;
}

.footer li:first-child {
    margin-top:20px;
}
@media (max-width:767px) {
    .navbar-brand
    {
    font-size: 30px;
    }
}

@media screen and (min-width: 768px) {


    .navbar-brand,
    .navbar-nav > li > a {
        line-height: 100px;
        height: 100px;
        padding-top: 0;
        text-align: center;
    }
    .navbar-brand
     {
         width:100%;
     }
}
.well
{
    background-color: white; !important;
}