.navbar {
    font-size: 1.3em;
}

.navbar-brand {
    font-size:2em;
    color: black !important;
}

#logo {
    color:lightgreen;
}

.navbar > .container-fluid {
    background-color: white;
}

textarea {
    resize: none;
}

#about .txts {
    margin-bottom: 30px;
}

#about h1 {
    margin-bottom:20px;
}

#about p {
    font-size: 1.3em;
}

.footer {
    width:100%;
    background-color: darkgrey;
    text-align: center;
    height:100px;

 }

.footer h4 {
    margin-top:20px;
}
.footer p {
    padding: 10px;
    font-size:1.1em;
}


@media (max-width:767px) {
    .navbar-brand
    {
    font-size: 30px;
    }
}

@media screen and (min-width: 768px) {


    .navbar-brand,
    .navbar-nav > li > a {
        line-height: 100px;
        height: 100px;
        padding-top: 0;
        text-align: center;
    }
    .navbar-brand
     {
         width:100%;
     }
}