.navbar {
    font-size: 1.3em;

}

.navbar-brand {
    font-size:2em;
    color: black !important;
}

#logo {
    color:lightgreen;
}

.navbar > .container-fluid {
    background-color: white;
}
@media (max-width:767px) {
    .navbar-brand
    {
    font-size: 30px;
    }
}

@media screen and (min-width: 768px) {


    .navbar-brand,
    .navbar-nav > li > a {
        line-height: 100px;
        height: 100px;
        padding-top: 0;
        text-align: center;
    }
    .navbar-brand
     {
         width:100%;
     }
}
.well
{
    background-color: white; !important;
}